<div class="collapse bg-darkgray5 text-body" id="navbarHeader">
	<div class="container py-3">
		<div class="row">
			<div class="col-sm-8 col-md-7 py-md-2">
				<h4>About</h4>
				<p>{{ $.Site.Params.Description }}</p>
			</div>
			<div class="col-sm-4 offset-md-1 py-md-2">
				<h4>Contact</h4>
				<ul class="list-unstyled">
					<li><a href="https://www.eikenberg.at/" class="text-white"><i class="me-2 fas fa-globe-europe"></i>eikenberg.at</a></li>
					<li><a href="{{ $.Site.Params.social.blueskyurl }}" rel="me" class="text-white"><i class="me-2 fab fa-bluesky"></i>{{ $.Site.Params.social.bluesky }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="navbar navbar-dark bg-darkgray5 shadow-sm">
	<div class="container d-flex justify-content-between">
		<a href="{{ $.Site.BaseURL }}" class="navbar-brand d-flex align-items-center">
			<img src="{{ "img/logo.svg" | absURL }}" alt="" id="logo" class="me-2" />
			<strong>{{ $.Site.Title }}</strong>
		</a>
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>
