html {
	overflow-y: scroll;
}

figure {
	margin: 0 auto 1rem auto;
	max-width: 800px;
	width: 100%;
}

figure > img {
	display: block;
	margin: 0 auto 1rem auto;
	max-width: 100%;
}

#logo {
	height: 30px;
}

.cryptedmail:after {
	content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

.jumbotron .container {
	max-width: 50rem;
}

.mb-clear-lastchild:last-child {
	margin-bottom: 0 !important;
}

.mr-clear-lastchild:last-child {
	margin-right: 0 !important;
}

// Prevent long expressions to stretch the width.
.MathJax {
	overflow-x: auto !important;
}
