html {
	overflow-y: scroll;
}

h2, h3, h4, h5, h6 {
	margin-top: 2rem;
}

figure {
	margin: 0 auto 1rem auto;
	max-width: 800px;
	width: 100%;
}

figure > img {
	display: block;
	margin: 0 auto 1rem auto;
	max-width: 100%;
}

figcaption {
	text-align: center;
}

blockquote {
	border-left: 3px solid #CCC;
	font-family: "Times New Roman", Times, serif;
	margin: 1em 0em 1em 2em;
	padding-left: 1em;
}

section.footnotes {
	margin-top: 3rem;
}

.hanchor {
	visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
	@extend %headings !optional;
}

%headings:hover > .hanchor {
	visibility: visible;
}

#logo {
	height: 30px;
}

.cryptedmail:after {
	content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

.jumbotron .container {
	max-width: 50rem;
}

.mb-clear-lastchild:last-child {
	margin-bottom: 0 !important;
}

.mr-clear-lastchild:last-child {
	margin-right: 0 !important;
}

// Prevent long expressions to stretch the width.
.MathJax {
	overflow-x: auto !important;
}
