{{ $link1_url := "https://eikenberg.at/" }}
{{ $link2_url := "/index.xml" }}

{{ $link1 := dict "name" "eikenberg.at" "href" $link1_url "icon" "fa-globe-europe" }}
{{ $link2 := dict "name" "Feed"         "href" $link2_url "icon" "fa-rss" }}

{{ $links := slice $link1 $link2 }}

<div class="container">
	<div class="row justify-content-center">
		{{ range $links }}
		<a class="my-1 mx-3 mr-clear-lastchild text-white" href="{{ .href }}" title="{{ .name }}">
			<i class="fas {{ .icon }} mr-2"></i>{{ .name }}
		</a>
		{{ end }}
	</div>

</div>
