{{ $service1_link := printf "https://github.com/%s" $.Site.Social.github }}
{{ $service1 := dict "name" "GitHub" "href" $service1_link "color" "primary" "icon" "fab fa-github" }}

{{ $service2_link := printf "https://gitlab.com/%s" $.Site.Social.gitlab }}
{{ $service2 := dict "name" "GitLab" "href" $service2_link "color" "secondary" "icon" "fab fa-gitlab" }}

{{ $service3_link := printf "https://twitter.com/%s" $.Site.Social.twitter }}
{{ $service3 := dict "name" "Twitter" "href" $service3_link "color" "secondary" "icon" "fab fa-twitter" }}

{{ $services := slice $service1 $service2 $service3 }}

<div class="container">
	<h1>Hello world.</h1>
	<p class="lead text-muted">My name is Raphael. I'm highly interested in the fields of information security and security engineering. On this page you'll find a selection of projects I've been working on. If you want to leave some feedback or want to contribute or collaborate, feel free to get in touch.</p>
	<div class="mt-4">
		{{ range $services }}<a href="{{ .href }}" class="btn btn-{{ .color }} my-2 mx-2"><i class="{{ .icon }} fa-lg me-2"></i>{{ .name }}</a>{{ end }}
	</div>
</div>
