{{ $service1_link := printf "https://github.com/%s" $.Site.Params.social.github }}
{{ $service1 := dict "name" "GitHub" "href" $service1_link "color" "primary" "icon" "fab fa-github" }}

{{ $service2_link := printf "https://gitlab.com/%s" $.Site.Params.social.gitlab }}
{{ $service2 := dict "name" "GitLab" "href" $service2_link "color" "secondary" "icon" "fab fa-gitlab" }}

{{ $service3_link := $.Site.Params.social.mastodonurl }}
{{ $service3 := dict "name" "Mastodon" "href" $service3_link "color" "secondary" "icon" "fab fa-mastodon" }}

{{ $services := slice $service1 $service2 $service3 }}

<div class="container">
	<h1>Hello world.</h1>
	<p class="lead text-muted">My name is Raphael. I have a big passion for information security and security engineering. Below you'll find some projects of mine that I'd love for you to check out. If you have any thoughts, suggestions, or just want to chat about all things tech - don't be shy and reach out!</p>
	<div class="mt-4">
		{{ range $services }}<a href="{{ .href }}" class="btn btn-{{ .color }} my-2 mx-2"><i class="{{ .icon }} fa-lg me-2"></i>{{ .name }}</a>{{ end }}
	</div>
</div>
